# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://sfvftigflasnswxjsnop.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmdmZ0aWdmbGFzbnN3eGpzbm9wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1Njk4NTUsImV4cCI6MjA4MjE0NTg1NX0.gDc1wFqPpqeENBxZN4CEDVNK8Pa3o4EzN3IclVcbmRA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmdmZ0aWdmbGFzbnN3eGpzbm9wIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjU2OTg1NSwiZXhwIjoyMDgyMTQ1ODU1fQ.ig7R1G02dNPEFia28o8cY-3i7ZYYQRb7W7b6dZdNyNo
NEXTAUTH_SECRET=Ka1nGsCVWF3kTxiayrw4iVZROAtRtxlQo+N6owL6LZY=
NEXT_PUBLIC_PROFILES_BUCKET=profile_pictures
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51SVaN22QvAQpR8qOPdsfeyNYfDxrJkOLAJIzvD5M6kQZHD0t4FVPLOy4afqiZdITZM6MUSvzuNX45PqmINFlfyun00LWmyJUnW
RESEND_API_KEY=re_523TnfUg_HS3tEJxCpxN1NuyjkLGEXJXG
NOREPLY_EMAIL=noreply@resend.dev
STRIPE_SECRET_KEY=sk_test_51SVaN22QvAQpR8qOPnuTNEp1dVxzQWqXIqQsTNWQcitHz8bkO0Htb8Bj65fMcFTV38NAqtmbYlmI2kYMnLAawD5b00jBfcmoTd
STRIPE_PRICE_ID=price_1Sezas2QvAQpR8qOVYADz8g6
STRIPE_WEBHOOK_SECRET=whsec_3DsJk5uMamvnDbD87RRNYC6LH3MZDrqM
NEXTAUTH_URL=http://localhost:3000
