NEXT_PUBLIC_SUPABASE_URL=supabase_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=supabase_publishable_key
SUPABASE_SERVICE_ROLE_KEY=supabase_service_role_key
NEXTAUTH_SECRET=next_auth_secret
NEXT_PUBLIC_PROFILES_BUCKET=profile_bucket

# ---------------------------------- Resend ---------------------------------- #
RESEND_API_KEY=

# ----------------------------------- Email ---------------------------------- #
NOREPLY_EMAIL=

# ---------------------------------- Stripe ---------------------------------- #
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=
