# ------------------------------------ App ----------------------------------- #
APP_URL=http://localhost:3000

# --------------------------------- Next auth -------------------------------- #
NEXTAUTH_SECRET=next_auth_secret
NEXTAUTH_URL=http://localhost:3000

# --------------------------------- Supabase --------------------------------- #
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_SUPABASE_SERVICE_ROLE_KEY=

# ---------------------------------- Storage --------------------------------- #
NEXT_PUBLIC_PROFILES_BUCKET=profile_bucket

# ---------------------------------- Resend ---------------------------------- #
RESEND_API_KEY=

# ----------------------------------- Email ---------------------------------- #
NOREPLY_EMAIL=

# ---------------------------------- Stripe ---------------------------------- #
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=
